.football{
  margin-left:50px;
  margin-right: 50px;
}
body {
  background-size: 3500px;
  height: 800px;
  background-image: linear-gradient(rgb(49, 110, 160), rgb(40, 197, 189));
}

.glory img {
  width: 350px;
  border-radius: 6px;
}
.glory {
  text-align: center;
}
.fleximages {
  display: flex;
  justify-content: space-evenly;
}
 
.fleximages1 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

.heading {
  font-weight: bold;
  font-family: "Merriweather", serif;
  font-size: 55px;
  text-align: center;
  text-decoration: underline;
  margin-top: -8px;
}

.Achievements {
  float: right;
  position: absolute;
  top: 150px;
  left:77%;
  font-family: roboto;
}

.imgscroll {
  width: 267px;
  height: 400px;
  float: right;
  border-radius: 10px;
  position: absolute;
  top: 220px;
  left: 76%;
}

.imgscroll h1 {
  text-align: center;
}
.imgscroll img {
  width: 250px;
  border-radius: 10px;
}

.tournaments {
  width: 1000px;
}

.tournaments h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 25px;
  font-family: "Merriweather", serif;
}

.tournaments ul li {
  font-size: 17px;
  padding: 3px;
  font-family: "Domine", serif;
  line-height:30px;
}

.snooker {
  width: 1000px;
  display: flex;
  justify-content: space-around;
}

.snooker img {
  width: 400px;
  height: 220px;
  border-radius: 10px;
}
